<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FoodDeliverySystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.listener.ConnectionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.listener.SessionListener</listener-class>
  </listener>
  <context-param>
    <param-name>DbConnection</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/zensarp</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>root</param-value>
  </context-param>
  <filter>
    <filter-name>FilterValidate</filter-name>
    <filter-class>com.Filter.FilterValidate</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterValidate</filter-name>
    <url-pattern>/SignUpLog</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.Servlets.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUpLog</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ValidateLoginFilter</filter-name>
    <filter-class>com.Filter.ValidateLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidateLoginFilter</filter-name>
    <url-pattern>/SignInLog</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>com.Servlets.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignInLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Location</servlet-name>
    <servlet-class>com.Servlets.GetLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Location</servlet-name>
    <url-pattern>/LocationLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Menu</servlet-name>
    <servlet-class>com.Servlets.MenuItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu</servlet-name>
    <url-pattern>/Menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>com.Servlets.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCartLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveCart</servlet-name>
    <servlet-class>com.Servlets.RemoveFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCart</servlet-name>
    <url-pattern>/RemoveFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Calculate</servlet-name>
    <servlet-class>com.Servlets.CalculateBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculate</servlet-name>
    <url-pattern>/CalculateBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Quantity</servlet-name>
    <servlet-class>com.Servlets.QuantityAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quantity</servlet-name>
    <url-pattern>/QuantityAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Payment</servlet-name>
    <servlet-class>com.Servlets.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/PaymentLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Address</servlet-name>
    <servlet-class>com.Servlets.Address</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Address</servlet-name>
    <url-pattern>/AddressLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentOptions</servlet-name>
    <servlet-class>com.Servlets.PaymentOptions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentOptions</servlet-name>
    <url-pattern>/PaymentOptionsLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderConfirm</servlet-name>
    <servlet-class>com.Servlets.OrderConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderConfirm</servlet-name>
    <url-pattern>/OrderConfirmLog</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PdfGenerate</servlet-name>
    <servlet-class>com.Servlets.PdfGeneration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfGenerate</servlet-name>
    <url-pattern>/PdfLog</url-pattern>
  </servlet-mapping>
</web-app>